@tailwind base;
@tailwind components;
@tailwind utilities;


label {
  font-weight: 500 !important;
  margin-bottom: 2px;
}

.mantine-LoadingOverlay-root {
  position: fixed !important;
  z-index: 1000 !important;
}

.sign-in {
  background: url(./assets/images/sign-in.png);
  background-position: center;
  background-size: cover;
}
